.header {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 300px;
}

.header-title {
    text-align: center;
    color: var(--main10);
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo {
    height: 230px;
}
