:root {
    --main0: #181818;
    --main1: #383838;
    --main2: #565656;
    --main3: #696969;
    --main4: #919191;
    --main5: #b2b2b2;
    --main6: #b2b2b2;
    --main7: #d6d6d6;
    --main8: #e6e6e6;
    --main9: #f1f1f1;
    --main10: #f8f8f8;
}

body {
    font-family: 'Roboto Serif';
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main0);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
